/***************************************************************************/
/******************************* index *************************************/
/***************************************************************************/
div.titulo_seccion{
    margin-top: 20px;
    padding: 0px 0px 10px 0px;
}
div.titulo_seccion h3 {
    inline: block;
    background: #2E2E2E;
    color: #FFFFFF;
    margin:10px 0px 0px 0px;
    font-size: 1.3em;
    padding: 5px;
    text-align: center;
    width: 100%
}
section article.noticia{
    display: inline-block;/*para que un bloque se ponga despues del otro*/
    border-radius: 5px 5px 0px 0px;
    vertical-align: top;
    position: relative;
    margin: 20px 0% 0px 2%;
    width: 96%;
    background-color: #FFFFFF;
}
section article.noticia h2{
    padding: 5px 5px 5px 15px;
    font-size: 1.0em;
    font-weight: bolder;
    color: #323131;
}
section article.noticia h2 a{
    color: black;
    text-decoration: none;
}
section article.noticia p{
    font-size: 0.8em;
    text-align: justify;
    margin: 5px 15px 5px 15px;
    color: #323131;
}
section article.noticia p.fuente{
    font-size: 0.7em;
    text-align: justify;
}



section article.noticia figure img{
    width: 100%;
    height: 100%;
}



section article.noticia span.fecha,span.tipo,span.vista,img.ima{
    font-size: 10px;
    width: 10px;
    padding-left: 2px;
}
section div.publicidad{
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    width: 20%;
    height: 100%;
    background: #FFFFFF;
    margin-right: 20px;
    float: right;
    text-align: justify;
    display: none;
}
section a.leer_mas{
    display: block;
    border-radius: 0px 0px 5px 5px;
    margin: 0% 0% 0% 2%;
    width: 96%;
    height: 35px;
    text-decoration: none;
    padding: 15px;
    background:rgba(2,73,89,0.9);
    color: #FFFFFF;
    line-height: 3px;
    text-align: center;
}
section a.leer_mas:hover{
    background:rgba(2,73,89,0.8);
    color: #FFFFFF;
}






footer{
    margin-top: 20px; 
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 100%;
    background:#333;
    text-align: center;
}

footer div.contenedor_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

footer p.copy{
    font-size: 2em; 
    color: white; 
    text-align: center;
}
footer p.autor{
    font-size: 0.9em; 
    color: #7FFF00; 
    text-align: center;
}

.sociales{
    width: 100%;
    font-size: 28px; 
}

.sociales a{
    color:#F2F2F2;
    text-decoration: none;
}

.sociales a:hover{
    color: #37A2C6;
    text-decoration: none;
}

 hr { 
   margin:10px 0px 10px 0px; 
   border: 3px solid #333; 
   border-radius: 300px ; 
   height: 0px; 
   text-align: center; 
 }
 .vivo_frame{
    margin: auto;
    width: 70%;
 }
.vivo{
    margin: auto;
    margin-top: 70px;
    border:0;
    width: 640px;
    height: 380px;
}

/**************************************************************************/
/***************************** ver_noticia ********************************/
/**************************************************************************/
section article.noticia_vn{
    display: block;/*para que un bloque se ponga despues del otro*/
    vertical-align: top;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin: 20px 0% 0px 1.5%;
    width: 97%;
    background-color: #FFFFFF;
    }
section div.fb-comments{
    display: block;/*para que un bloque se ponga despues del otro*/
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin: 20px 0% 0px 1.5%;
    width: 97%;
    background-color: #FFFFFF;
    }
section article.noticia_vn h2{
    padding: 5px 5px 5px 5px;
    font-size: 1.2em;
    font-weight: bolder;
    color: #323131;
}
section article.noticia_vn, article.ver_admin p{
    font-size: 0.9em;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: justify;  
    color: #323131;
}
section article.noticia_vn figure img{
    width: 100%;
    height: 100%;;
}
section article.noticia_vn span.fecha_vn,span.tipo_vn,span.vista_vn,img.ima{
   font-size: 0.8em;
   width: 13px;
   padding-left: 1.5px;
}
section article.noticia_vn div.pie_noticia{
    width: 100%;
    height:auto;
    background: #1AA3C2;
}
section article.noticia_vn div.pie_noticia div.api{
    width: 20%;
    height: 30px;
    color: white;
    border: solid 1px red;
    display: inline;
    padding: 5px 10px;
    line-height: 30px;
}
#botones-para-compartir{ 
    text-align:center;
    background: #212121;
    border-radius: 0px 0px 5px 5px;
}
#botones-para-compartir p.p_social{ 
    text-align: center;
    color: #FFFFFF;
}
.likedino:hover, .facebooko:hover, .twittero:hover, .googleo:hover,.pinteresto:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    transition:all .3s ease-out;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}
.likedino, .facebooko, .twittero, .googleo, .pinteresto {
     transition:all .3s ease-out;
     -moz-transition: all .5s;
     -webkit-transition: all .5s;
     -o-transition: all .5s;
     margin-left:10px; /* espacio entre cada boton */
}



/**************************************************************************/
/***************************** footer *************************/
/**************************************************************************/
.content_footer{
    display: block;
    width: 100%;
}
.contenedor_un{
    width: 96%;
    display: inline-block;
}
p.ult_n_p{
    font-size: 1.2em;
    color: #00BFFF;
    font-weight: bolder;
}
.ult_n{
    font-size: 0.5em;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
.ult_n:hover{
    color: #FFD700;
    text-decoration: underline;
}
#hr{
    margin:10px 0px 10px 0px; 
   border: 1px solid #ADFF2F; 
   border-radius: 300px ; 
   height: 0px; 
   text-align: center; 
}
figure.iman{
    width: 24%;
    display: inline-block;
}







/**********************************************************************/
/***************************** Responsive *****************************/
/**********************************************************************/
@media screen and (min-width: 767px) {

    div.titulo_seccion h3 {
        border-radius: 0px;
        width: 100%
    }
    section article.noticia_dos{
        display: inline-block;
        width: 43.5%;
        height: 405px;
        overflow:hidden;
        margin: 20px 0% 0px 4%;
    }
    section article.noticia{
        width: 100%;
        height: 370px;
        margin: 0px 1% 0px 0%;
    }
    section a.leer_mas{
        width: 100%;
        margin: 0px 0px 0px 0px;
        border-radius: 0px 0px 5px 5px;
    }

    footer .contenedor_footer{
        justify-content: space-between;
    }
    section article.noticia span.fecha,span.tipo,span.vista,img.ima{
       font-size: 0.6em;
       width: 10px;
       padding-left: 1.5px;
    }
    /********************************/
    /*ver_noticia & ver_noticia_admin***/
    /********************************/
    section article.noticia_vn{
        width: 96%;
        margin: 20px 2% 0px 2%;
        top: 10px;
    }
    section div.fb-comments{
    margin: 20px 2% 0px 2%;
    width: 96%;
    }
    section article.noticia_vn h2{
        padding: 5px 5px 5px 15px;
        font-size: 1.4em;
    }
    section article.noticia_vn p{
        font-size: 1.0em;
        margin: 5px 15px 5px 15px;
    }
    section#ver_admin_n{
    width: 85%;
    }

}









@media screen and (min-width: 950px) {


    div.titulo_seccion h3 {
    border-radius: 0px 5px 5px 0px;
    width: 76.2%;
    }
    section article.noticia_dos{
        display: inline-block;
        width: 36%;
        height: 405px;
        overflow:hidden;
        margin: 20px 0% 0px .9%;
    } 
    section article.noticia{
        width: 100%;
        height: 370px;
        overflow:hidden;
        margin: 0px 0% 0px 0%;
    }
    section div.publicidad{
        display: inline;
    }
    section article.noticia span.fecha,span.tipo,span.vista,img.ima{
       font-size: 0.6em;
       width: 10px;
       padding-left: 1.5px;
    }
    section a.leer_mas{
        width: 100%;
        margin: 0px 0px 0px 0px;
        border-radius: 0px 0px 5px 5px;
    }


    section article.noticia figure img{
        width: 90%;
        height: 36%;
        margin: 0% 0% 0% 3%;
        text-align: center;
    }
/*
    div.titulo_seccion{
      border-style: groove;
      width: 76%;
    }
*/
    /********************************/
    /********** ver_noticia *********/
    /********************************/
    section article.noticia_vn{
    display: inline-block;/*para que un bloque se ponga despues del otro*/
    vertical-align: top;
    position: relative;
    margin: 20px 0% 0px 0%;
    width: 70%;
    background-color: #FFFFFF;
    left: 3%;
    }
    section div.fb-comments{
    margin: 30px 2% 0px 2%;
    width: 70%;
    }
    section article.noticia_vn h2{
        padding: 20px 2% 0px 2%;
        font-size: 1.4em;
    }
    section article.noticia_vn p{
        font-size: 1.0em;
        margin: 5px 15px 5px 15px;
    }
    section article.noticia_vn figure img{
        width: 100%;
        height: 100%;
    }
    section#ver_admin_n{
        width: 100%;
        margin-top: 0px;
        text-align: center;
        padding: 0px 0px 10px 0px;
    }



    .content_footer{
        display: block;
        width: 100%;
    }
    .contenedor_un{
    width: 31%;
    display: inline-block;
    }
    figure.iman{
        width: 24%;
        display: inline-block;
    }
    .sociales{
        width: 100%;
        font-size: 60px; 
    }

    .sociales a{
        display: block;
        margin: 10px 0px 20px 0px;
    }
    a.you{
        font-size: 30px;
        font-weight:bolder;
    }
}