@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Carme', sans-serif;
    background-color: #E4E4E4;
}

header{
    width: 100%;
    height: 50px;
    background:#2E2E2E;/*color del menu*/ 
    color: #fff;
    position: fixed;/*Para que el menu se quede pegado siempre*/
    top: 0;  
    left: 0;
    z-index: 100;/*Para que nada este sobre el menu cuado se haga scroll*/
}
#menu-bar{
    display:none;
}
.contenedor{
    width: 96%;
    margin: auto;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(2,73,89,0.9);/*color del menu cuando es responsive*/
    transition: all 0.5s;
    transform: translateX(-100%);
    font-family: cursive;
    text-align: center;   
}
.menu a{
    display: block;
    height: 50px;
    font-size: 12.5px;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px;
    border-bottom: 2px solid rgba(255,255,255,0.3);/*color de las lineas que separan las secciones del menu cuando esta reponsive*/
    color: #fff;  /*color de las letras del menu*/ 
}
.menu a:hover{
    cursor: pointer;
}
.menu a.inicio:hover{
    background: #229B8F;
    border-radius: 10px;
}
.menu a.noticias:hover{
    background: #25A939;
    border-radius: 10px;
}
.menu a.goForward:hover{
    background: #4859AF;
    border-radius: 10px;
}
.menu a.videojuegos:hover{
    background: #A648AF;
    border-radius: 10px;
}
.menu a.musica:hover{
    background: #B53535;
    border-radius: 10px;
}
.menu a.viral:hover{
    background: #AABA20;
    border-radius: 10px;
}
.menu a.espectaculos:hover{
    background: #BA2063;
    border-radius: 10px;
}
.menu a.admin:hover{
    background: #39AD84;
    border-radius: 10px;
}
menu a.buscar:hover{
    background: #9334B0;
    border-radius: 10px;
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}
#banner{
    margin-top: 50px;
    position: relative;
}
#banner img{
    width: 100%;
    height: 100%;
}
header .contenedor{
    display: table;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px;
    cursor: pointer;
}
header label:hover{
    color: #C935BA;/*color del boton de menu*/
}
header div.contenedor img{/*Logo de transmedia*/ 
    float: left;
    width: 80px;
}







.content{
    margin-top: 50px;
}
.result{
    width: 98%;
    height: 35px;
    background:#18181A;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.imagen_result {
    width: 15%;
    display: inline-block;
}
.imagen_result img{
    width: 70px;
    height: 35px;
    border-radius: 5px 0px 0px 5px;
}
.titulo_result{
    width: 83%;
    display: inline-block;
    margin-bottom: 3px;
}
a.leer{
    font-size: 0.8em;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
a.leer:hover{
    color:#FFFF1B;
}


@media(min-width:1024px){
    .contenedor{
        width: 95%;
        margin: auto;

    }
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background:#2E2E2E;
    }
    .menu a{
        border: none;
    }
    header label{
            display: none;
        }






    .result{
        width: 49%;
        height: 35px;
        background:#18181A;
        margin: auto;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
    }
}





/*Body*/
002
body
003
{
004
    margin:0px;
005
    padding-top:5px;
006
}
007
 
008
#main_container
009
{
010
    width:90%;
011
    margin-left:5%;
012
    padding-top:5px;
013
    padding-bottom:5px;
014
    float:left;
015
    border: 3px outset;
016
}
017
 
018
/*Content*/
019
 
020
.content{
021
    width:90%;
022
    margin-top:5px;
023
    margin-left:5%;
024
    padding-bottom:50px;
025
    background:#ffffff;
026
    border: 1px dashed;
027
    height: auto;
028
    float:left;
029
}
030
 
031
.content article
032
{
033
    padding: 3%;
034
 
035
}
036
 
037
.content article h2
038
{
039
 
040
}
041
 
042
/*Header*/
043
 
044
.header
045
{
046
    width:90%;
047
    margin-top:5px;
    margin-left: 5%;
    background:#ffffff;
    border: 3px outset;
    height: 200px;
    float:left;
}
 
/*Menu */
.top_menu ul
{
    list-style:none;
    float:left;
    border: 1px dashed;
    padding: 2%;
    width:95%;
}
.top_menu ul li
{
    float:left;
    margin-right:20px;
    margin-bottom:10px;
    background: #ff812d;
    padding:5px;
    border-radius: 15%;
}
.top_menu ul li a
{
    color: #FFFFFF;
    text-decoration:none;
}
.top_menu ul li a:hover
{
    color: blue;
}
/*Footer*/
.footer{
    width:90%;
    margin-top:5px;
    margin-left:5%;
    background:#ffffff;
    border: 3px outset;
    height: 110px;
    float:left;
}
.footer_msg{
margin-top: 40px;
float: left;
margin-left: 5%;
font-size: 0.8em;
color: rgb(126, 126, 126);
}
