
/*= GENERAL STYLES
--------------------------------------------------------*/
body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

a {
    color: #2E2E2E;
    font-weight: 400;
}

span {
    font-weight: 300;
    color: #171717;
}

nav ul.menu_admin {
    margin: 0px 0px 0px 2%;
}

nav ul.menu_admin li{
    background: #2369AE;
    display: inline-block;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
}

nav ul.menu_admin li:hover{
    background: #4B4E51;
}

nav ul.menu_admin a.a_dos{
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
}

.mlogin {
    margin: 170px auto 0;
}

.mregister {
    margin: 80px auto 0;
}

.error {
    margin: 60px auto 0;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 100%;
    background: #2E2E2E;
}

.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}

/*= CONTAINERS
--------------------------------------------------------*/
.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 95%;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#welcome {
    width: 100%;
    padding: 5px;
    background: #fff;
    margin: 55px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    overflow: hidden;
}
#bienvenido {
    float: left;
}

#finalizar {
    float: right;
}

#foto{
    width: 100%;
    text-align: center;
}

.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}

.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}
#registrar {
    width: 90%;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #AB19E9;
    -webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
    box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}


/*= BUTTONS
--------------------------------------------------------*/

.button{
    margin: 0px 0px 0px 3px;
    border: solid 1px #171717;
	background: #2E2E2E;
	background: -webkit-gradient(linear, left top, left bottom, from(#2E2E2E), to(#2E2E2E;));
	background: -moz-linear-gradient(top,  #2E2E2E,  #2E2E2E);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E2E2E', endColorstr='#171717');
	color: #fff;
    padding: 7px 12px;
    -webkit-border-radius:4px;
   -moz-border-radius:4px;
    border-radius:4px;
    float: right;
    cursor: pointer;
}


.button:hover{
     background: #1E1E1E;
	background: -webkit-gradient(linear, left top, left bottom, from(#1E1E1E), to(#171717));
	background: -moz-linear-gradient(top,  #1E1E1E,  #1E1E1E);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#AB19E9');
}
.acciones{
    height: 20px;
    background:#333;
    display: inline-block;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.img_accion{
    width: 15px;
    line-height: 20px
}
.no{
    color: #FFFFFF;
    text-decoration: none;
    margin: 5px 5px 0px 5px;
    line-height: 20px;
    cursor: pointer;      
}



/*= FOOTER
--------------------------------------------------------*/
footer {
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
/*= Tabla
--------------------------------------------------------*/
    table {     
    font-size: .8em;   
    margin: 1%;     
    width: auto; 
    text-align: left;    
    border-collapse: collapse; 
    }

    thead{
        text-align: center;
    }

    th {     
    font-size: 1.1em;     
    font-weight: normal;     
    padding: 4px;     
    background: rgba(2,73,89,0.9);
    border-bottom: 2px solid #333; 
    color: white; 
    }

    td {   
    padding: 4px;     
    background: #e8edff;     
    border-bottom: 1px solid #333;
    color: rgba(2,73,89,0.9);   
    border-top: 1px solid transparent; 
    }

    tr:hover td { 
    background: #d0dafd; 
    color: #339; 
    }   
    table thead th.fecha{
        width: 6%;
        background: #229B8F;
    }    
    table thead th.vistas {
        width: 2%;
        background: #25A939;
    }  
    table thead th.imagen {
        width: 6%;
        background: #4859AF;
    }  
    table thead th.titulo {
        width: 24%;
        background: #A648AF;
    }  
    table thead th.descripcion {
        width: 24%;
        background: #B53535;
    } 
    table thead th.fuente {
        width: 9%;
        background: #AABA20;
    } 
    table thead th.admin {
        width: 8%;
        background: #1EB26A;
    } 
    table thead th.accion {
        width: 20%;
        background: #BA2063
    } 
    table thead tr th.encabezado {
        background:#333;
    } 
    div.seccion{
        width: 100%;
        height: 300px;
        overflow-y: auto;
    }


    /*************responsive****************************/

    @media screen and (max-width: 1055px) {

        .acciones{
            margin: 1px 0px 0px 0px;
            display: block;
            cursor: pointer;
        }
        .img_accion{
            display: none;
        }
        .no{
            text-align: center;
        }

    }
